@model IEnumerable<S3G11_PVFAPP.Models.Employee>

@{
    ViewBag.Title = "Index";
}
<br />
<header class="common employees">
</header>
<h2>Employees</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary float-end" })
</p>
<br />
<br />
@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.EmployeeID)</th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee2.EmployeeName)
        </th>
        <th>
            Skills
        </th>
        <th>
            Works In
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.EmployeeID)</td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee2.EmployeeName)
            </td>
            <td>
                @{int i = 0;}
                @foreach (var skill in item.HasSkill)
                {
                    i++;
                    @Html.DisplayFor(modelItem => skill.Skill.SkillDescription)
                    if (i < item.HasSkill.Count)
                    {
                        <p style="display:inline">, </p>
                    }
                }
            </td>
            <td>
                @{int j = 0;}
                @foreach (var location in item.WorksIn)
                {
                    j++;
                    @Html.DisplayFor(modelItem => location.WorkCenter.WorkCenterLocation)
                    if (j < item.WorksIn.Count)
                    {
                        <p style="display:inline">, </p>
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeID }, new { @class = "btn btn-outline-primary m-2" })
                @Html.ActionLink("Details", "Details", new { id = item.EmployeeID }, new { @class = "btn btn-outline-secondary m-2" })
                @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeID }, new { @class = "btn btn-outline-warning m-2" })
            </td>
        </tr>
    }

</table>
