@model IEnumerable<S3G11_PVFAPP.Models.WorkCenter>

@{
    ViewBag.Title = "Index";
}

<!-- Masthead-->
<header class="common workcenters">
    <br />
    <div class="container">
        <h1 class="masthead-subheading">Our Work Centers</h1><br />
        <div class="masthead-heading text-uppercase">Equipped with latest machines</div>
    </div>
</header>


<h2>Work Centers</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary float-end" })
</p>
<br />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkCenterID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkCenterLocation)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkCenterID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkCenterLocation)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.WorkCenterID }, new { @class = "btn btn-outline-primary" })
                @Html.ActionLink("Details", "Details", new { id = item.WorkCenterID }, new { @class = "btn btn-outline-secondary" })
                @Html.ActionLink("Delete", "Delete", new { id = item.WorkCenterID }, new { @class = "btn btn-outline-warning" })
            </td>
        </tr>
    }

</table>
