@model IEnumerable<S3G11_PVFAPP.Models.Order>

@{
    ViewBag.Title = "Index";
}
<br />
<header class="common orders">
</header>
<h2>Orders</h2>
@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<p>
    @Html.ActionLink("Create New", "Create", null, null, new { @class = "btn btn-primary float-end" })
</p>
<br />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OrderID }, new { @class = "btn btn-outline-primary" })
                @Html.ActionLink("Details", "Details", new { id = item.OrderID }, new { @class = "btn btn-outline-secondary" })
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderID }, new { @class = "btn btn-outline-warning" })
            </td>
        </tr>
    }

</table>

<div class="alert alert-success alert-dismissible fade show" role="alert">
    View Order Details for Invoice
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
