@model IEnumerable<S3G11_PVFAPP.Models.Salesperson>

@{
    ViewBag.Title = "Index";
}

<h2>Salespersons</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary float-end" })
</p>
<br />
<br />
@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SalespersonID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalespersonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalespersonTelephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalespersonFax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesTerritory.TerritoryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SalespersonID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalespersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalespersonTelephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalespersonFax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesTerritory.TerritoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SalespersonID }, new { @class = "btn btn-outline-primary" })
                @Html.ActionLink("Details", "Details", new { id = item.SalespersonID }, new { @class = "btn btn-outline-secondary" })
                @Html.ActionLink("Delete", "Delete", new { id = item.SalespersonID }, new { @class = "btn btn-outline-warning" })
            </td>
        </tr>
    }

</table>
