@model S3G11_PVFAPP.Models.WorksIn

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WorksIn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorksInID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorksInID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkCenter.WorkCenterLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkCenter.WorkCenterLocation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { eid = Model.Employee.EmployeeID, wid = Model.WorkCenter.WorkCenterID }, new { @class = "btn btn-outline-primary" }) |
    @Html.ActionLink("Back to List", "Index")
</p>
